<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="tv.inair.airmote"
    xmlns:android="http://schemas.android.com/apk/res/android">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

  <application
      android:name=".Application"
      android:allowBackup="true"
      android:icon="@drawable/ic_launcher"
      android:label="@string/app_name"
      android:screenOrientation="portrait"
      >
    <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
        >
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <activity
        android:name=".DeviceListActivity"
        android:parentActivityName=".MainActivity"
        android:theme="@android:style/Theme.Dialog"
        >
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".MainActivity"/>
    </activity>

    <activity
        android:name=".WifiConnectActivity"
        android:parentActivityName=".WifiListActivity"
        android:theme="@android:style/Theme.DeviceDefault"
        >
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".WifiListActivity"/>
    </activity>

    <activity
        android:name=".WifiListActivity"
        android:parentActivityName=".MainActivity"
        android:theme="@android:style/Theme.DeviceDefault"
        >
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".MainActivity"/>
    </activity>

    <activity
        android:name=".WebviewActivity"
        android:parentActivityName=".MainActivity"
        android:theme="@android:style/Theme.DeviceDefault"
        >
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".MainActivity"/>
    </activity>

  </application>

</manifest>
