<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="tv.inair.airmote">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
  <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

  <application
      android:name=".Application"
      android:allowBackup="true"
      android:icon="@drawable/ic_launcher"
      android:label="@string/app_name"
      android:screenOrientation="portrait">

    <!-- MAIN -->
    <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:theme="@style/AppStyle"
        android:screenOrientation="portrait">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <!-- DEVICE-->
    <activity
        android:name=".DeviceListActivity"
        android:parentActivityName=".MainActivity"
        android:theme="@style/DialogStyle"
        android:screenOrientation="portrait">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".MainActivity"/>
    </activity>

    <!-- WIFI -->
    <activity
        android:name=".WifiListActivity"
        android:parentActivityName=".MainActivity"
        android:theme="@style/ActivityStyle"
        android:screenOrientation="portrait">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".MainActivity"/>
    </activity>

    <activity
        android:name=".WifiConnectActivity"
        android:parentActivityName=".WifiListActivity"
        android:theme="@style/ActivityStyle"
        android:screenOrientation="portrait">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".WifiListActivity"/>
    </activity>

    <!-- WEB VIEW-->
    <activity
        android:name=".WebViewActivity"
        android:parentActivityName=".MainActivity"
        android:theme="@style/ActivityStyle"
        android:screenOrientation="portrait">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".MainActivity"/>
    </activity>

    <!-- TEXT INPUT-->
    <activity
        android:name=".TextInputActivity"
        android:theme="@style/DialogStyle"
        android:parentActivityName=".MainActivity"
        android:screenOrientation="portrait">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".MainActivity"/>
    </activity>

    <meta-data
        android:name="com.crashlytics.ApiKey"
        android:value="63935f84266ab9f5bac9f6f09f05b6f0d72b7717" />
  </application>

</manifest>
